## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,kavieng,PG,80.35,moderate rain,-2.5744,150.7967,Nusa Island Retreat
1,15,atuona,PF,81.10,clear sky,-9.8000,-139.0333,Villa Enata
2,19,lorengau,PG,83.53,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
3,30,takoradi,GH,80.29,light rain,4.8845,-1.7554,Raybow International Hotel
4,46,butaritari,KI,81.64,light rain,3.0707,172.7902,Isles Sunset Lodge

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City_ID"]==227]
vacation_end = vacation_df.loc[vacation_df["City_ID"]==227]
vacation_stop1 = vacation_df.loc[vacation_df["City_ID"]==626]
vacation_stop2 = vacation_df.loc[vacation_df["City_ID"]==329] 
vacation_stop3 = vacation_df.loc[vacation_df["City_ID"]==615] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
77,615,mount isa,AU,87.8,scattered clouds,-20.7333,139.5,ibis Styles Mt Isa Verona

In [29]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])
stop3

(-20.7333, 139.5)

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
route = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3])
route_map = gmaps.figure(center=(-20, 139.5), zoom_level=2)
route_map.add_layer(route)
route_map

Figure(layout=FigureLayout(height='420px'))

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,227,karratha,AU,83.73,light rain,-20.7377,116.8463,ibis Styles Karratha
1,626,port hedland,AU,82.40,scattered clouds,-20.3167,118.5667,The Esplanade Hotel
2,329,palmerston,AU,82.99,broken clouds,-12.4860,130.9833,Quest Palmerston - Serviced Apartments and Acc...
3,615,mount isa,AU,87.80,scattered clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations=locations,info_box_content=hotel_info)
fig2 = gmaps.figure(center=(-20, 139.5), zoom_level=4.7)
fig2.add_layer(markers)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))